FORMSPREE_FORM_ID=
NEXT_PUBLIC_SITE_URL=https://dentalofficelithonia.com
NEXT_PUBLIC_PHONE=7704822964
NEXT_PUBLIC_EMAIL=dentalofficelithonia@gmail.com
NEXT_PUBLIC_GOOGLE_PLACE_ID=ChIJZxuqP4Ot9YgRYQqgsglJjb4
NEXT_PUBLIC_GOOGLE_MAPS_EMBED_SRC=https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3319.1595799820343!2d-84.1103184!3d33.7048194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f5ad833faa1b67%3A0xbe8d4909b2a00a61!2sThe%20Dental%20Office%20of%20Lithonia!5e0!3m2!1sen!2sus!4v1782419047587!5m2!1sen!2sus
OLLAMA_API_KEY=
OLLAMA_MODEL=gemma4:31b
OLLAMA_BASE_URL=https://ollama.com/v1
